<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: common_head(~{::title},~{::link})">
    <title>Vinyl Admin Page</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>
<div th:replace="fragments/base :: header_common"></div>
<!--<div th:replace="fragments/base :: header_common"></div>

<div class="container">

    <div class="starter-template">
        <h1>Admin page (Spring Security protected)</h1>
        <h1 th:inline="text">Hello [${#httpServletRequest.remoteUser}]!</h1>
    </div>

</div>-->
<!-- /.container -->
<!--<script th:src="@{/js/aam.js}"></script>
<fieldset>
    <legend>First slide</legend>
    <form onsubmit="addNewVinyl(event)" enctype="multipart/form-data" >
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="artist">Artist</label>
            <input type="text" id="artist" name="artist">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" id="price" name="price">
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" id="quantity" name="quantity">
        </div>

        <input type="submit" value="ДОБАВИТЬ">
    </form>
</fieldset>-->
<fieldset>
    <form th:action="@{/completeAP}" th:object="${vinyl}" method="POST" enctype="multipart/form-data">
        <table>
            <tr>
                <td>Title</td>
                <td><input type="text" th:field="*{title}" /></td>
            </tr>
            <tr>
                <td>Artist</td>
                <td><input type="text" th:field="*{artist}" /> </td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="text" th:field="*{price}" /> </td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td><input type="text" th:field="*{quantity}" /> </td>
            </tr>
            <tr>
                <input type="file"  name="file" class="form-control-file" id="formControlFile1" accept="image/*">
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit" />
                    <a th:href="@{/}">Cancel</a>
                </td>
            </tr>
        </table>
    </form>
</fieldset>

</body>
</html>