<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="common_head(title, links)">
    <!--параметризированый фрагмент-->
    <title th:replace="${title}">VINYL UNION</title>
    <!-- Common styles and scripts -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{/css/resources/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/resources/bootstrap-social.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/resources/font-awesome.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/js/resources/jquery-3.3.1.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            th:src="@{/js/resources/bootstrap.min.js}"></script>
    <script th:src="@{/js/resources/js.cookie.js}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" th:href="@{/images/icon.png}">
    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}"/>
    <link rel="stylesheet" href="../../static/css/resources/font-awesome.css">
    <!--Из-за неизвестного количества линков -->
    <!--th:block -  единственный элементный процессор (а не атрибут), включенный в стандартные диалекты-->
    <!--th: block - это простой контейнер атрибутов, который позволяет разработчикам
     шаблонов указывать какие атрибуты они хотят.
      Thymeleaf выполнит эти атрибуты, а затем просто сделает блок незаметным.-->
</head>
<body>

<div th:fragment="header_common">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark ">
        <div class="brand">
            <a class="navbar-brand" th:href="@{/}">
                <div class="labl-wrap">
                    <div class="labl">
                        <span id="h1-v">VINYL</span>
                    </div>
                </div>
            </a>
        </div>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <ul class="navbar-nav ml-auto" sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdd" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Add...
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{#}">Add new account</a>
                            <a class="dropdown-item" th:href="@{#}">Add new request</a>
                            <a class="dropdown-item" th:href="@{#}">Add </a>
                        </div>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')" class="nav-item ">
                        <a class="nav-link" th:href="@{#}">Stock</a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')" class="nav-item ">
                        <a class="nav-link" th:href="@{/administration-page}">Dashboard</a>
                    </li>
                </ul>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownHelp" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{#}">Support</a>
                        <a class="dropdown-item" th:href="@{#}">Community</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{#}">Restore the password</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item" >
                    <a id="card-img" style="margin-right: 10px" th:href="@{/cart}">
                        <img th:src="@{/images/icons/icons8_Shopping_Cart_96px.png}" style="height: 40px; width: 40px">
                        <span id="amount"></span>
                    </a>
                </li>
                <li class="nav-item">
                   <!-- Стандарт синтаксиса Выражений/Standard Expression Syntax и
                   выражения OGNL (Object-Graph Navigation Language)-->
                    <!--В Spring OGNL заменен на SpringEL, но его синтаксис фактически,
                    точно такой же для большинства распространенных случаев).-->
                    <!--https://habrahabr.ru/post/350870/-->
                    <div th:switch="${#authorization.expression('isAuthenticated()')}">
                                    <!-- authentication обект авторизированого пользователя -->
                        <!--${#authorization.expression('isAuthenticated()')} - возвращает true если юзер авторизирован-->
                        <span th:case="${false}"><a id="btn-login" class="btn my-2 my-sm-0" th:href="@{/signin}">
                            <i class="fa fa-user"></i> SIGN-IN</a></span>
                        <span th:case="${true}">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" th:href="@{#}" id="navbarDropdownHelpAccount" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span sec:authentication="name"></span>
                                    <!--sec:authentication - используется для отображения имени залогиневшегося и его роли-->
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" th:href="@{#}">Settings</a>
                                    <div class="dropdown-divider"></div>
                                    <a  class="btn my-2 my-sm-0" th:href="@{/logout}">Logout</a>
                                </div>
                            </div>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div th:fragment="footer"><!--id фрагмента-->
    <!--th:fragment - часть, которая будет повторятся на всех страницах.
     Например - footer, header. -->
    <div class="container">
        <footer>
                <span sec:authorize="isAuthenticated()">
                    <!--Атрибут sec: authorize отображает его содержимое,
                     когда выражение атрибута оценивается как true:-->
                    <!--  isAuthenticated() этот блок показывается только аутентифицированым пользователям-->
                    <!--  "hasRole('ROLE_ADMIN')" этот блок показывается только пользователям c ролью 'ROLE_ADMIN'-->
                    Logged user: <span sec:authentication="name"></span>|
                    <!--sec:authentication - используется для отображения имени залогиневшегося и его роли-->
                    Roles: <span sec:authentication="principal.authorities"></span>
                    <a th:href="@{/logout}">Sing Out</a>
                </span>
        </footer>
    </div>
</div>
</body>
</html>