<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="common_head(title, links)">
    <!--параметризированый фрагмент-->
    <title th:replace="${title}">The awesome application</title>
    <!-- Common styles and scripts -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"></script>
    <script  th:src="@{/js/login.js}"></script>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">

    <link rel="shortcut icon" th:href="@{/images/icon.png}">
    <!--/* Per-page placeholder for additional links */-->
     <th:block th:replace="${links}"/>
    <!--th:block -  единственный элементный процессор (а не атрибут), включенный в стандартные диалекты-->
    <!--th: block - это простой контейнер атрибутов, который позволяет разработчикам
     шаблонов указывать какие атрибуты они хотят.
      Thymeleaf выполнит эти атрибуты, а затем просто сделает блок незаметным.-->
</head>
<body>
<div th:fragment="header_home">
    <nav class="navbar navbar-expand-lg navbar-dark  bg-dark ">
        <a class="navbar-brand" th:href="@{/}">Complete</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Help
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Support</a>
                        <a class="dropdown-item" href="#">Community</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Restore the password</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a id="btn-login" class="btn my-2 my-sm-0" th:href="@{/login}"><i class="fa fa-user"></i>LOGIN</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="footer"><!--id фрагмента-->
    <!--th:fragment - часть, которая будет повторятся на всех страницах.
     Например - footer, header. -->
    <div class="container">
        <footer>
                <span sec:authorize="isAuthenticated()">
                    <!--Атрибут sec: authorize отображает его содержимое,
                     когда выражение атрибута оценивается как true:-->
                    <!--  isAuthenticated() этот блок показывается только аутентифицированым пользователям-->
                    <!--  "hasRole('ROLE_ADMIN')" этот блок показывается только пользователям c ролью 'ROLE_ADMIN'-->
                    Logged user: <span sec:authentication="name"></span>|
                    <!--sec:authentication - используется для отображения имени залогиневшегося и его роли-->
                    Roles: <span sec:authentication="principal.authorities"></span>
                    <a th:href="@{/logout}">Sing Out</a>
                </span>
        </footer>
    </div>
</div>
</body>
</html>