<!DOCTYPE html>
<html       xmlns:th="http://www.thymeleaf.org"
            xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">>
<!--<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/bootstrap.css"/>
    <script src="../../static/js/bootstrap.js"></script>
</head>-->
    <div th:fragment="footer"></div><!--id фрагмента-->
    <!--th:fragment - часть, которая будет повторятся на всех страницах.
     Например - footer, header. -->
    <div class="container">
        <footer>
            <span sec:authorize="isAuthenticated()">
                <!--Атрибут sec: authorize отображает его содержимое,
                 когда выражение атрибута оценивается как true:-->
                <!--  isAuthenticated() этот блок показывается только аутентифицированым пользователям-->
                <!--  "hasRole('ROLE_ADMIN')" этот блок показывается только пользователям c ролью 'ROLE_ADMIN'-->
                Logged user: <span sec:authentication="name"></span>|
                <!--sec:authentication - используется для отображения имени залогиневшегося и его роли-->
                Roles: <span sec:authentication="principal.authorities"></span>
                <a th:href="@{/logout}">Sing Out</a>
            </span>
            <script type="text/javascript"
                    src="../../static/js/bootstrap.js"></script>
        </footer>
    </div>

</html>