<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/base :: common_head(~{::title},~{::link})">
    <title>VINYL UNION</title>
    <link rel="stylesheet" href="#">
</head>

<body>
<div th:replace="fragments/base :: header_common"></div>

<div class="card-deck" th:object="${dataList}" th:method="GET">
    <span th:each="vinyl : ${dataList}">
            <div class="card" style="margin-bottom: 20px">
                <img class="card-img-top" th:src="${vinyl.getImageLink()}"
                     src="/static/images/vinil/imgs_bd_vinil/vin1.png" alt="Card image cap">
                <div class="card-body">

                    <h5 class="card-title" th:text="${vinyl.getTitle()}">Card title</h5>
                    <p class="card-text" th:text="${vinyl.getArtist()}">Some quick example</p>
                    <div>
                        <button th:id="${vinyl.getId()}" class="btn btn-secondary" type="button" onclick="addCartToLocalStorage(this.id)">Buy</button>
                        <a href="#" class="btn btn-secondary">Details</a>
                        <h5 id="cost" th:text="'&#8372' + ${vinyl.getPrice()}">Цену уточнить</h5>
                    </div>
                </div>
            </div>
    </span>
</div>
<script th:src="@{/js/vinylboard.js}"></script>
</body>
</html>