<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/base :: common_head(~{::title},~{::link})">
    <title>VINYL UNION</title>
    <link rel="stylesheet" th:href="@{/css/signin.css}">
</head>

<body>
<div th:replace="fragments/base :: header_common"></div>

<div class="container">
    <section class="user">
        <div class="user_options-container">
            <div class="user_options-text">
                <div class="user_options-unregistered">
                    <h2 class="user_unregistered-title">Don't have an account?</h2>
                    <p class="user_unregistered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
                    <button class="user_unregistered-signup" id="signup-button">Sign up</button>
                </div>

                <div class="user_options-registered">
                    <h2 class="user_registered-title">Have an account?</h2>
                    <p class="user_registered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
                    <button class="user_registered-login" id="login-button">Login</button>

                </div>
            </div>

            <div class="user_options-forms" id="user_options-forms">
                <form class="form-signin" name="signin" th:action="@{/signin}" method="post">
                    <div th:if="${param.error}" class="alert alert-error">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success">
                        You have been logged out.
                    </div>
                    <div class="user_forms-login">
                        <form class="forms_form">
                            <fieldset class="forms_fieldset">
                                <div class="forms_field">
                                    <input type="text" class="forms_field-input" id="username" placeholder="Login" name="username" required autofocus/>
                                </div>
                                <div class="forms_field">
                                    <input type="password" id="password" name="password" placeholder="Password"
                                           class="forms_field-input" required />
                                </div>
                            </fieldset>
                            <div class="forms_buttons">
                                <button type="button" class="forms_buttons-forgot">Forgot password?</button>
                                <input type="submit" value="Sing In" class="forms_buttons-action">
                            </div>
                            <div class="title title--center">OR sign-in with:</div>
                            <div class="buttons">
                              <!--  <a class="btn btn-block btn-social btn-twitter">
                                    <span class="fa fa-twitter"></span>Twitter
                                </a>-->
                                <a class="btn btn-block btn-social btn-facebook" href="/login/facebook">
                                    <span class="fa fa-facebook"></span>Facebook
                                </a>
                              <!--  <a class="btn btn-block btn-social btn-google">
                                    <span class="fa fa-google"></span>Google
                                </a>-->
                            </div>
                        </form>
                    </div>
                </form >
                <div class="user_forms-signup">
                    <form id="sing-up-form" class="forms_form" name="signup" >

                        <fieldset class="forms_fieldset">
                            <div class="forms_field">
                                <input id="login" type="text" class="forms_field-input" placeholder="Login" name="login"
                                      required autofocus pattern="^[a-zA-Z][a-zA-Z0-9-_]{3,16}$"
                                      title="The Login may contain letters, numbers, dashes and underscores, from 3 to 16 symbols."/>
                            </div>
                            <div class="forms_field">
                                <input id="email" type="email" placeholder="Email" name="email" class="forms_field-input" required />
                            </div>
                            <div class="forms_field">
                                <input id="password-check" type="password" name="password" placeholder="Password" class="forms_field-input" required
                                       pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                                       title="The password must contain lowercase and uppercase letters, numbers or special characters.
                                                The length - 6 characters and more."/>
                            </div>
                            <div class="forms_field">
                                <input id="password-check-true" type="password" placeholder="Password" class="forms_field-input"
                                       onblur="checkPasswordTrue()" required />
                            </div>
                        </fieldset>
                        <div class="forms_buttons">
                            <input value="Sign up" type="button" onclick="verifyAndSave()" class="forms_buttons-action"/>
                        </div>
                    </form>
                </div>
            </div>

            </div>
    </section>
</div>
<script th:src="@{/js/signin.js}"></script>
<script>
    $.ajaxSetup({
        beforeSend : function(xhr, settings) {
            if (settings.type == 'POST' || settings.type == 'PUT'
                || settings.type == 'DELETE') {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/
                    .test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-XSRF-TOKEN",
                        Cookies.get('XSRF-TOKEN'));
                }
            }
        }
    });
</script>
</body>
</html>

