<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/base :: common_head(~{::title},~{::link})">
    <title>VINYL UNION</title>
    <link rel="stylesheet" th:href="@{/css/signin.css}">
</head>

<body class="text-center">
<div class="container" style="max-width: 400px; height: 500px">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#sing-in" role="tab" data-toggle="tab">Sing-in</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#sing-up" role="tab" data-toggle="tab">Sing-up</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="sing-in">

                <form class="form-signin" name="signin" th:action="@{/signin}" method="post">
                    <fieldset>
                        <div th:if="${param.error}" class="alert alert-error"> <!--вернет параметр запроса с именем X -->
                            Invalid username and password.
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success">
                            You have been logged out.
                        </div>

                        <label for="username" class="sr-only">Username</label>
                        <input type="text" id="username" class="form-control" name="username" required autofocus/>
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" id="password" name="password" class="form-control" required/>

                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </fieldset>
                </form>

        </div>
        <div role="tabpanel" class="tab-pane fade" id="sing-up">
            Singup
        </div>
    </div>

</div>

</body>
</html>

